// Colours

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$bright-blue-shadow: rgba(56, 41, 224, 0.15);

$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

// Typography
$font-size: 1rem;

$font-family: 'Red Hat Display', sans-serif;

// Layout
$mobile-width: 23.4375rem;
$desktop-width: 90rem;
